.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacing: 9px;
  --right: 52px;
  --width-search: 361px;

  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  height: var(--default--layout-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
}
.inner {
  padding: 0 var(--default-layout-horizontal-spacer);
  height: 100%;
  width: var(--default-layout-with, 1150px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  caret-color: red;
}

.logo-link {
  display: flex;
}

// Action
.action {
  display: flex;
  align-items: center;
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  background-color: transparent;
  cursor: pointer;
  padding: 4px 8px;
}

.action-btn {
  background-color: transparent;
  font-size: 2.2rem;
  color: #161823;
  padding: 4px 12px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
